<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Twitter Bootstrap Modals Example</title>   
<meta name="description" content="Creating Modal Window with Twitter Bootstrap">  
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">   
 
</head>  
<body>  
  


<div class="container-fluid">
<img src="http://placehold.it/5000x300" clas="img-circle" />
    <ul class="nav nav-tabs">
    <li class="active">
    <a href="#">Home</a>
    </li>
    <li><a href="#">Test 1</a></li>
    <li><a href="#">Test 2</a></li>
    </ul>
    
    <div class="row-fluid">
	<div class="span3">
		    <ul class="nav nav-list">
		    <li class="nav-header">List header</li>
		    <li class="active"><a href="#">Home</a></li>
		    <li><a href="#">Library</a></li>		    
		    </ul>
	</div>
	<div class="span9">
		Content
	</div>
    </div>
</div>
<script src="js/jquery.js"></script>  
 <script src="js/autocomplete.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>  
<script src="js/score.js"></script>  
<script src="js/main.js"></script>
</body>  
</html>  